@import './colors.scss';

html {
    height: 100%;
}

body {
    height: 100%;
}

body {   
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    font-weight: 400;
    font-family: Helvetica,Arial,sans-serif;
    line-height: 1.46429em;
    background-color: #FFFFFF;
}

.hi {
    border: solid 2px palevioletred;
}

.hi-green {
    border: solid 2px green;
}

.hi-blue {
    border: solid 2px paleturquoise;
}

.hi-golden {
    border: solid 2px palegoldenrod;
}

.hi-yellow {
    border: solid 2px yellow;
}

.hi-black {
    border: solid 2px black;
}

.text-danger {
    color: $mainColorDanger;
}