body {
    padding: 0;
    margin: 0;    
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    font-weight: 400;
    font-family: Helvetica,Arial,sans-serif;
    line-height: 1.46429em;
    background-color: #FFFFFF;
}

.im-outlet {
    border: solid 5px blue;
    padding: 20px;
}

.im-name-outlet {
    border: solid 5px palevioletred;
    padding: 20px;
}

.im-component {
    border: solid 2px grey;
}

.im-shell {
    border: solid 5px green;
    padding: 20px;
}

.hi {
    border: solid 2px palevioletred;
}

.hi-green {
    border: solid 2px green;
}

.hi-blue {
    border: solid 2px paleturquoise;
}

.hi-golden {
    border: solid 2px palegoldenrod;
}