.contacts {
    align-items: center;
    bottom: 0;
    display: inline-flex;
    margin-left: 50px;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    top: 0;
}

.link {
    cursor: pointer;
}

.logo {
    cursor: pointer;
}

.title {
    display: flex;
    height: 63px;
    &__content {
        align-self: center;
        position: relative;
        width: 100%;
    }
}