.title {
    height: 63px;
    display: flex;
    padding-left: 30px;

    &__content {
        align-self: center;
        width: 100%;
    }
}

.contacts {
    margin-left: 50px;
}

.link {    
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.logo {   
    cursor: pointer;
}