@import './src/app/styles/colors.scss';

.products-list {
    margin-top: 16px;
    margin-bottom: 16px;
}

.product-wrapper {
    display: inline-block;
    width: 25%;
    height: 320px;
    // border: solid 1px $mainColorGrey;
    cursor: pointer;
}

.product-content {
    height: 100%;
}

.loading {
    text-align: center;
}