<form [formGroup]="UpdateForm"
    (ngSubmit)="onSubmit()"
    novalidate>
    <div class="product">
        <div class="content">
            <div class="page-title">                
                <h4 *ngIf="Id; else addTitle">
                    Редактирование товара
                </h4>
                <ng-template #addTitle>
                    <h4>
                        Добавление товара
                    </h4>
                </ng-template>
            </div>
            <div class="product-row row">
                <div class="col-md-3">
                    Название <span class="text-danger">*</span>
                </div>
                <div class="col-md-5">
                    <input class="form-control"
                        formControlName="name">
                    <ng-container
                        *ngTemplateOutlet="ErrorMessageTemplate; context: { control: UpdateForm.controls.name }">
                    </ng-container>
                </div>
            </div>
            <div class="product-row row">
                <div class="col-md-3">
                    Цена <span class="text-danger">*</span>
                </div>
                <div class="col-md-5">
                    <input class="form-control"
                        formControlName="price">
                    <ng-container
                        *ngTemplateOutlet="ErrorMessageTemplate; context: { control: UpdateForm.controls.price }">
                    </ng-container>
                </div>
            </div>
            <div class="product-row row">
                <div class="col-md-3">
                    Артикул <span class="text-danger">*</span>
                </div>
                <div class="col-md-5">
                    <input class="form-control"
                        formControlName="article">
                    <ng-container
                        *ngTemplateOutlet="ErrorMessageTemplate; context: { control: UpdateForm.controls.article }">
                    </ng-container>
                </div>
            </div>
            <div class="product-row row">
                <div class="col-md-3">
                    Приоритет показа <span class="text-danger">*</span>
                </div>
                <div class="col-md-5">
                    <div class="priority-wrapper"
                        *ngFor="let priority of Priorities"
                        [ngClass]="{ 'priority-wrapper-active': UpdateForm.controls.priority.value === priority }"
                        (click)="prioritySelected(priority)">
                        <div class="priority-inner">
                            <div class="priority">
                                {{ priority }}
                            </div>
                        </div>
                    </div>
                    <ng-container
                        *ngTemplateOutlet="ErrorMessageTemplate; context: { control: UpdateForm.controls.priority }">
                    </ng-container>
                </div>
            </div>
            <div class="product-row row">
                <div class="col-md-3">
                    Категория <span class="text-danger">*</span>
                </div>
                <div class="col-md-5">
                    <ng-select
                        [searchable]="true"
                        [clearable]="true"
                        [items]="Categories"
                        bindLabel="Title"
                        formControlName="category">
                    </ng-select>
                    <ng-container
                        *ngTemplateOutlet="ErrorMessageTemplate; context: { control: UpdateForm.controls.category }">
                    </ng-container>
                </div>
            </div>
            <div class="product-row row">
                <div class="col-md-3">
                    Картинка <span class="text-danger">*</span>
                </div>
                <div class="col-md-5">
                    <input
                        #file
                        type="file"
                        accept='image/*'
                        (change)="preview(file.files)"/>                        
                    <div (click)="removeSlide(CurrentSlide)"
                        class="btn btn-primary">
                        Удалить картинку
                    </div>
                    <span *ngIf="ImageError"
                        class="text-danger">
                        {{ ImageError }}
                    </span>
                </div>
            </div>
            <div class="product-row row">
                <div class="col-md-3">
                </div>
                <div class="col-md-5">
                    <app-image-slider
                        (onSelect)="slideSelect($event)"
                        [Slides]="Slides">
                    </app-image-slider>
                    <ng-container
                        *ngTemplateOutlet="ErrorMessageTemplate; context: { control: UpdateForm.controls.slides }">
                    </ng-container>
                </div>
            </div>
            <div class="product-row row">
                <div class="col-md-3">
                    Состав
                </div>
                <div class="col-md-5">
                    <input class="form-control"
                        formControlName="consist">
                    <ng-container
                        *ngTemplateOutlet="ErrorMessageTemplate; context: { control: UpdateForm.controls.consist }">
                    </ng-container>
                </div>
            </div>
            <div class="product-row row">
                <div class="col-md-3">
                    Описание:
                </div>
                <div class="col-md-5">
                    <textarea
                        class="form-control"
                        type="text"
                        rows="5"
                        maxlength="1024"
                        formControlName="description">
                    </textarea>
                </div>
            </div>
            <div class="product-row row">
                <div class="col-md-3">
                </div>
                <div class="col-md-5">
                    <div class="buttons-wrapper">
                        <div class="group-buttons">
                            <button class="btn btn-default"
                                (click)="cancel()"
                                type="button">
                                Отмена
                            </button>
                            <button class="btn btn-primary save-button"
                                type="submit"
                                [disabled]="!UpdateForm.valid || IsProcesing">
                                <span *ngIf="Id; else addButton">
                                    Сохранить
                                </span>
                                <ng-template #addButton>
                                    Добавить
                                </ng-template>
                            </button>
                        </div>
                    </div>  
                </div>
            </div>
        </div>      
    </div>
</form>

<ng-template #ErrorMessageTemplate let-control="control">
    <span class="text-danger" *ngIf="control.invalid && control.touched">
        <div *ngIf="control.errors?.required">
            Это обязательное поле
        </div>
        <div *ngIf="control.errors?.minlength">
            Минимальное количество сиволов: {{ control.errors.minlength.requiredLength }}
        </div>
        <div *ngIf="control.errors?.maxlength">
            Максимальное количество сиволов: {{ control.errors.maxlength.requiredLength }}
        </div>
        <div *ngIf="control.errors?.pattern">
            Неккоректное значение
        </div>
        <div *ngIf="control.errors?.min">
            Минимальное значение: {{ control.errors.min.min }}
        </div>
        <div *ngIf="control.errors?.max">
            Максимальное значение: {{ control.errors.max.max }}
        </div>
    </span>
</ng-template>

<ng-template #noContent>
    <div class="no-content"></div>
</ng-template>