@import './src/app/styles/colors.scss';

.navigation {
    font-size: 16px;

    &__link {
        margin-right: 5px;
        display: table-cell;
        height: 56px;
        vertical-align: middle;
        padding-left: 28px;
        padding-right: 28px;
        cursor: pointer;

        &:focus {
            outline: none;
        }

        &:hover {
            border: solid 1px $mainColorGrey;
            box-shadow: 1px 1px 7px $mainColorGrey;
        }
    }

    &-active {
        background-color: #EEE;
    }
}