<div class="product">
    <div class="content"
        *ngIf="Product">
        <div class="image-wrapper">
            <div class="image-wrapper-inner"
                *ngIf="Image; else noImage">
                <img [src]="Image.Content"
                    class="image"
                    *ngIf="Image">
            </div>
        </div>
        <div class="brief-wrapper">
            <div class="name">
                {{ Product.Name }}
            </div>
            <div class="price">
                <strong>{{ Product.Price }}</strong>
                <span class="measure">руб.</span>
            </div>
        </div>
    </div>
</div>

<ng-template #noImage>
    <div *ngIf="IsLongRequest"
        class="noImage">
    </div>
</ng-template>