@import './src/app/styles/colors.scss';

.product {
    padding: 8px;
    height: 100%;
}

.content {
    height: 100%;
    position: relative;
}

.image {
    height: 100%;
    object-fit: cover;
}

.image-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    padding-bottom: 50px;
    text-align: center;
}

.image-wrapper-inner {
    height: 100%;
    width: 100%;
}

.brief-wrapper {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.price {
    display: inline-block;
}

.inStock {
    color: white;
    border-radius: 3px;
    background-color: $mainColorGreen;
    padding: 2px 7px;
    display: inline-block;
    position: absolute;
    right: 8px;
    bottom: 8px;
}

.measure {
    margin-left: 5px;
}

.noImage {
    background-color: $mainColorGrey;
    height: 100%;
    width: 100%;
}