@import './src/app/styles/colors.scss';

.products-list {
    margin-top: 16px;
    margin-bottom: 16px;

    &-item {
        cursor: pointer;
    }

    &-add {
        cursor: pointer;
    }
}

.product-wrapper {
    cursor: pointer;
}

.product-content {
    height: 100%;
}

.loading {
    text-align: center;
}

.filter {
    float: right;
    margin-bottom: 10px;
}

.delete-icon {
    text-align: right;
    width: 20px;
    height: 20px;
    cursor: pointer;
}