<div>
  <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ab755dff2557b7ea36b5418a15b3225b917ef9a8ba39a7541126fec35d206b495&amp;width=871&amp;height=499&amp;lang=ru_RU&amp;scroll=true"></script>
  <table class="text">
    <tr>
      <td class="sleva">Адрес</td>
      <td class="sprava"> г.Нефтекамск, Юбилейный просп 18, МФК Урал, 2-ой этаж</td>
    </tr>
    <tr>
      <td class="sleva">Часы работы</td>
      <td class="sprava">Пн-Сб: 10:00 - 20:00</td>
    </tr>
    <tr>
      <td></td>
      <td class="sprava">Вc: <strong>выходной</strong></td>
    </tr>
    <tr>
      <td class="sleva">Телефон</td>
      <td class="sprava">+7(917)73-77-150</td>
    </tr>
    <tr>
      <td class="sleva">E-mail</td>
      <td class="sprava">kopteva_valentina_18@mail.ru</td>
    </tr>
  </table>
</div>