<div class="contacts">
    <div class="map-wrap">
        <div id="ymap"></div>
    </div>
    <div class="coordinates">
        <div>
            <div class="title">
                Адрес:
            </div>
            <div class="value">
                Нефтекамск, Юбилейный просп 18, МФК Урал, 2-ой этаж
            </div>
        </div>
        <div>
            <div class="title">
                Часы работы:
            </div>
            <div class="value">
                Пн-Сб: 10:00 - 20:00
            </div>
        </div>
        <div>
            <div class="title">
                Телефон:
            </div>
            <div class="value">
                +7(917)73-77-150
            </div>
        </div>
        <div>
            <div class="title">
                E-mail:
            </div>
            <div class="value">
                adelhomestore@gmail.com
            </div>
        </div>
    </div>
</div>