<div class="product">
    <div class="content">
        <div class="image-wrapper">
            <div class="image-content"
                *ngIf="Image; else noImage">
                <img [src]="Image"
                    class="image"
                    *ngIf="Image">
            </div>
            <ng-template #noImage>
                <div class="no-content"></div>
            </ng-template>
        </div>
        <div class="text-wrapper">
            <div class="text-content"
                *ngIf="Product; else noContent">
                <div class="description">
                    <div class="name text-line">
                        {{ Product.Name }}
                    </div>
                    <div class="price text-line">
                        <strong>
                            <span>{{ Product.Price }}</span>
                            <span class="measure">руб.</span>
                        </strong>
                    </div>
                </div>
                <div class="contacts">
                    <div class="text-line">
                        <span>Для заказа необходимо позвонить</span>
                    </div>
                    <div class="text-line">
                        <span>+7(917)73-77-150</span>
                    </div>
                </div>
            </div>
            <ng-template #noContent>
                <div class="no-content"></div>
            </ng-template>
        </div>
    </div>
</div>