@import './src/app/styles/colors.scss';

.product {
    padding-top: 16px;
    padding-bottom: 16px;
    height: 100%;
    width: 100%;
}

.content {
    height: 100%;
    position: relative;
}

.image-wrapper {
    width: 30%;
    height: 400px;
    display: inline-block;
    vertical-align: top;
}

.image-content {
    width: 100%;
    height: 100%;
    text-align: center;
}

.image {
    max-height: 100%;
    max-width: 100%;
}

.text-wrapper {
    display: inline-block;
    text-align: left;
    margin-left: 20px;
    vertical-align: top;
    height: 140px;
    width: 30%;
}

.price {
    display: inline-block;
    font-size: 1.5em;
}

.inStock {
    color: white;
    border-radius: 3px;
    background-color: $mainColorGreen;
    padding: 2px 7px;
    display: inline-block;
    position: absolute;
    right: 8px;
    bottom: 8px;
}

.measure {
    margin-left: 5px;
}

.name {
    font-size: 1.5em;
}

.text-line {
    margin-bottom: 10px;
}

.description {
    margin-bottom: 30px;
}

.no-content {
    background-color: $mainColorGrey;
    height: 100%;
    width: 100%;
}