@import './src/app/styles/colors.scss';

.product {
    padding-top: 16px;
    padding-bottom: 16px;
    height: 100%;
    width: 100%;
}

.content {
    height: 100%;
    position: relative;
}

.image {
    height: 100%;
    object-fit: cover;
}

.image-wrapper-inner {
    height: 100%;
}

.image-wrapper {
    width: 30%;
    top: 0;
    padding-bottom: 50px;
    text-align: center;
    display: inline-block;
}

.image {
    width: 100%;
}

.text-wrapper {
    display: inline-block;
    text-align: left;
    margin-left: 20px;
}

.price {
    display: inline-block;
    font-size: 1.5em;
}

.inStock {
    color: white;
    border-radius: 3px;
    background-color: $mainColorGreen;
    padding: 2px 7px;
    display: inline-block;
    position: absolute;
    right: 8px;
    bottom: 8px;
}

.measure {
    margin-left: 5px;
}

.name {
    font-size: 1.5em;
}

.text-line {
    margin-bottom: 5px;
}

.description {
    margin-bottom: 30px;
}

.stub {
    background-color: $mainColorGrey;
    height: 100%;
    width: 100%;
}