@import './src/app/styles/colors.scss';

.component {
    height: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
}

.content {
    width: 40%;
    height: 200px;
    border: solid 1px $mainColorGrey;
}