<div class="product">
    <div class="content">
        <div class="image-wrapper">
            <app-image-slider [Images]="Images"></app-image-slider>
        </div>
        <div class="text-wrapper">
            <div class="text-content"
                *ngIf="Product; else noContent">
                <div class="description">
                    <div class="name text-line">
                        {{ Product.Name }}
                    </div>
                    <div class="price text-line">
                        <strong>
                            <span>{{ Product.Price }}</span>
                            <span class="measure">руб.</span>
                        </strong>
                    </div>
                    <div class="text-line">
                        {{ Product.Article }}
                    </div>
                    <div class="text-line">
                        {{ Product.Consist }}
                    </div>
                    <div class="text-line">
                        {{ Product.Description }}
                    </div>
                </div>
                <div class="contacts">
                    <div class="text-line">
                        <span>Для заказа необходимо позвонить</span>
                    </div>
                    <div class="text-line">
                        <span>+7(917)73-77-150</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Если долгий запрос, то закрашиваем все в серый цвет -->
<ng-template #noContent>
    <div class="no-content"
        *ngIf="IsLongRequest">
    </div>
</ng-template>